body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.job-brief{
  text-align:left;
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 10px 10px;
}

.job-brief img{
  max-width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.job-brief h3{
  color: darkgrey;
}

.job-brief span{
  margin-right: 10px;
}

.salary{
  font-weight: bold;
}

.list-container{
  width:30%;
  margin-left: 5em;
  border: solid lightgrey 1px;
  border-radius: 10px; 
  min-width: min-content;
}